#modal__container {
  font-family: sans-serif;
  background-color: rgba(245, 245, 245, 0.836);
  width: 700px;
  position: fixed;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#modal__content {
  background-color: white;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

#form__content {
  display: flex;
  flex-direction: column;
}

.form__entry {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
}

.form__label {
  flex: 2 50px;
  font-size: 14px;
}

.form__input {
  flex: 8 50px;
}

.form__text__input {
  flex: 8 50px;
  color: black;
  border: solid 1px gray;
  padding-left: 15px;
  background-color: white;
  height: 35px;
  border-color: grey;
}

.form__radio__group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__radio__group input {
  margin-right: 11px;
}

.form__radio__group label {
  cursor: pointer;
  margin-right: 20px;
  padding-top: 5px;
  font-size: 14px;
}

.form__spacer {
  height: 60px;
}

.horizontal__line {
  color: rgb(235, 235, 235);
  margin-top: 20px;
  border-width: 1px;
  width: 100%;
}

#form__submit__tab {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: right;
  display: flex;
  margin-bottom: 20px;
}

.form__button {
  height: 40px;
  border-radius: 0;
  width: 120px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.form__cancel__button {
  background-color: white;
  color: rgb(126, 126, 126);
  border-color: rgb(170, 170, 170);
}

.form__submit__button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.form__select__input {
  flex: 8 50px;
  color: black;
  border: solid 1px gray;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  height: 35px;
  border-color: grey;
}
